body {
    background-color: #f8f9fa;
    padding: 2rem 0;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background:
            linear-gradient(90deg, rgba(81, 236, 124, 0.20) 0%, rgba(40, 167, 69, 0.05) 45%),
            linear-gradient(270deg, rgba(81, 236, 124, 0.20) 0%, rgba(40, 167, 69, 0.05) 45%),
            url('../image/background_main_page.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(2px);
}

.tour-form-container {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
}
.form-header {
    background-color: #29a143;
    color: white;
    padding: 1.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.form-body {
    padding: 2rem;
}

.btn-nav-outline {
    color: #29a143;
    border-color: #29a143;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.btn-nav-outline:hover {
    color: #ffffff;
    background-color: #29a143;
    box-shadow: 0 4px 12px rgba(40, 167, 69, 0.2);
}

.btn-form-submit {
    background-color: #29a143;
    border-color: #29a143;
    padding: 0.75rem;
    color: #ffffff;
    transition: background-color 0.2s ease;
}

.btn-form-submit:hover {
    background-color: #ffffff;
    color: #29a143;
    border-color: #29a143;
}

.form-control {
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
}

.form-control:focus {
    border-color: #29a143;
    box-shadow: 0 0 0 0.25rem rgba(42, 156, 66, 0.38);
}

.form-check-input:checked {
    background-color: #29a143;
    border-color: #29a143;
    box-shadow: 0 0 0 0.25rem rgba(42, 156, 66, 0.38)
}

.form-check-input:focus {
    background-color: #29a143;
    box-shadow: 0 0 0 0.25rem rgba(42, 156, 66, 0.38)
}

.form-check-input {
    accent-color: #29a143;
}

.program-day {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.error-block {
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.error-block h6 {
    color: #842029;
    margin-bottom: 10px;
}

.error-block ul {
    margin: 0;
    padding-left: 20px;
}

.error-block li {
    color: #58151c;
}
